@page "/"
@using HotelAirportService.WebApplication.Models
@using HotelAirportService.Domain
<PageTitle>Neue Buchung</PageTitle>

<h1>Guten Tag!</h1>
<h3>Willkommen beim Hotel Airport Service.</h3>

@if (!userLoggedIn)
{
<p>Um eine Fahrt zu buchen geben Sie bitte ihre Buchungsnummer an</p>
    <div class="d-flex flex-column align-items-center justify-content-center">
        <EditForm class="mt-8" Model="@enterBookingCodeModel" OnValidSubmit="@SubmitBookingCode">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="container-fluid">
                <div class="row">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="booking-code">Buchungscode</span>
                        <InputText class="form-control" placeholder="Buchungscode" @bind-Value="enterBookingCodeModel.BookingCode" />
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <button class="btn btn-secondary form-control" type="submit">
                            Bestätigen
                        </button>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
}
else
{
    <div class="card">
        <div class="card-body">
            <div class="container-fluid">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <h5 class="card-title">@booking.Customer.CustomerName @booking.BookingCode</h5>
                        <h2 class="ml-3">@booking.RoomNumber</h2>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row align-items-center justify-content-around">
                        <h5>Check In:<span class="badge badge-secondary ml-3">@booking.CheckIn.ToShortDateString()</span></h5>
                        <h5>Check Out:<span class="badge badge-secondary ml-3">@booking.CheckOut.ToShortDateString()</span></h5>

                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-around">
                        <h5>Ankunft:<span class="badge badge-secondary ml-3">@booking.Arrival.ToShortDateString()</span></h5>
                        <h5>Abfahrt:<span class="badge badge-secondary ml-3">@booking.Departure.ToShortDateString()</span></h5>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary mt-3" onclick="@logout">Ausloggen</button>
        </div>
    </div>
}
@code
{
    private EnterBookingCodeModel enterBookingCodeModel = new();
    private bool userLoggedIn = true;

    private Booking booking = new()
    {
        CheckIn = DateTime.Today.AddDays(-3), 
        CheckOut = DateTime.Today, 
        BookingCode = "1X2Y",
        Customer = new () {CustomerName = "Test Customer"}
    };

    private void SubmitBookingCode()
    {
        //do rest call for checking booking code
    }

    private void logout()
    {
        userLoggedIn = false;
        booking = new();
    }
}
