@page "/booking"
@using HotelAirportService.Domain
@using HotelAirportService.WebApplication.Models
@using System.Text.Json
@using HotelAirportService.Domain.Enum
@using System.Text
@using HotelAirportService.WebApplication.Service
@using System.Net

@inject NotificationService NotificationService
@inject HttpClient HttpClient
@inject LoginService LoginService

<h1>Neue Buchung!</h1>
<h3>Buchen Sie hier einen neuen Flughafentransfer.</h3>

<div class="d-flex flex-column align-items-center justify-content-center">
    <h5>Transfer nach Ankunft buchen</h5>
    <EditForm class="mt-8" Model="@arrivalRide" OnValidSubmit="@SubmitNewRideArrival">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="container-fluid">
            <div class="row">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="airport-ari">Flughafen</span>
                    <InputSelect class="form-control" placeholder="Flughafen" TValue="Guid" @bind-Value="arrivalRide.AirportId">
                        @foreach (Airport airport in airports)
                        {
                            <option value=@airport.Id>@airport.AirportName</option>
                        }
                    </InputSelect>
                </div>

                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="guest-count-ari">Anzahl Gäste</span>
                    <InputNumber class="form-control" TValue="int" @bind-Value="arrivalRide.Passengers" />
                </div>

                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="time-at-airport-ari">Abholzeit am Flughafen</span>
                    <RadzenDatePicker class="form-control" TValue="DateTime" ShowTime="true" TimeOnly="true" DateFormat="HH:mm" @bind-Value="arrivalRide.TimeAtAirport" />
                </div>

                <div class="input-group input-group-sm mb-3">
                    <button class="btn btn-primary form-control" disabled="@(arrivalRide.RideId != Guid.Empty)" type="submit">
                        Bestätigen
                    </button>
                </div>
                @if (arrivalRide.RideId != Guid.Empty)
                {
                    <div class="ml-auto">
                        <div class="input-group input-group-sm mb-3">
                            <button @onclick="() => DeleteRide(arrivalRide)" class="btn btn-danger form-control" type="button">
                                Löschen
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </EditForm>
    @if (arrivalTimeError)
    {
        <div class="alert alert-danger" role="alert">
            Keine Fahrer zum ausgewählten Zeitpunkt verfügbar!
        </div>
    }
    <h5>Tranfer zu Abflug buchen</h5>
    <EditForm class="mt-8" Model="@departureRide" OnValidSubmit="@SubmitNewRideDepartureAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="container-fluid">
            <div class="row">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="airport-dep">Flughafen</span>
                    <InputSelect class="form-control" placeholder="Flughafen" TValue="Guid" @bind-Value="departureRide.AirportId">
                        @foreach (Airport airport in airports)
                        {
                            <option value=@airport.Id>@airport.AirportName</option>
                        }
                    </InputSelect>
                </div>

                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="guest-count-dep">Anzahl Gäste</span>
                    <InputNumber class="form-control" TValue="int" @bind-Value="departureRide.Passengers" />
                </div>

                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="time-at-airport-dep">Ankunftszeit am Flughafen</span>
                    <RadzenDatePicker class="form-control" TValue="DateTime" ShowTime="true" TimeOnly="true" DateFormat="HH:mm" @bind-Value="departureRide.TimeAtAirport" />
                </div>

                <div class="input-group input-group-sm mb-3">
                    <button class="btn btn-primary form-control" disabled="@(departureRide.RideId != Guid.Empty)" type="submit">
                        Bestätigen
                    </button>
                </div>
                @if (departureRide.RideId != Guid.Empty)
                {
                    <div class="ml-auto">
                        <div class="input-group input-group-sm mb-3">
                            <button @onclick="() => DeleteRide(departureRide)" class="btn btn-danger form-control" type="button">
                                Löschen
                            </button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </EditForm>
    @if (departureTimeError)
    {
        <div class="alert alert-danger" role="alert">
            Keine Fahrer zum ausgewählten Zeitpunkt verfügbar!
        </div>
    }
</div>

@code {
    private bool departureTimeError = false;

    private bool arrivalTimeError = false;

    private List<Airport> airports = new();

    private NewRideModel arrivalRide = new() { TravelType = TravelType.Arrival };

    private NewRideModel departureRide = new() { TravelType = TravelType.Departure };

    private async Task SubmitNewRideArrival()
    {
        arrivalTimeError = false;
        if (LoginService.IsLoggedIn)
        {
            using StringContent jsonContent = new(JsonSerializer.Serialize(new
            {
                AirportId = arrivalRide.AirportId,
                BookingId = LoginService.Booking.Id,
                PassengerCount = arrivalRide.Passengers,
                Type = TravelType.Arrival,
                TimeAtAirport = DateOnly.FromDateTime(LoginService.Booking.CheckOut).ToDateTime(TimeOnly.FromDateTime(arrivalRide.TimeAtAirport))
            }),
                Encoding.UTF8, "application/json");

            using HttpResponseMessage res = await HttpClient.PostAsync("http://localhost:5030/api/v1.0/Booking", jsonContent);
            if (res.StatusCode == HttpStatusCode.OK)
            {
                try
                {
                    arrivalRide.RideId = (await res.Content.ReadFromJsonAsync<Ride>()).Id;
                    StateHasChanged();
                    ShowSuccessNotification();
                }
                catch
                {
                    arrivalTimeError = false;
                }
            }
            else
            {
                ShowErrorNotification();
            }
        }
        else
        {
            ShowErrorNotification();
        }
    }

    private async Task SubmitNewRideDepartureAsync()
    {
        if (LoginService.IsLoggedIn)
        {
            using StringContent jsonContent = new(JsonSerializer.Serialize(new
            {
                AirportId = departureRide.AirportId,
                BookingId = LoginService.Booking.Id,
                PassengerCount = departureRide.Passengers,
                Type = TravelType.Departure,
                TimeAtAirport = departureRide.TimeAtAirport
            }),
                Encoding.UTF8, "application/json");

            using HttpResponseMessage res = await HttpClient.PostAsync("http://localhost:5030/api/v1.0/Booking", jsonContent);
        }
        else
        {
            ShowErrorNotification();
        }

    }

    protected override async Task OnParametersSetAsync()
    {
        airports = await HttpClient.GetFromJsonAsync<List<Airport>>("http://localhost:5030/api/v1.0/Airport");
        arrivalRide.AirportId = airports.Select(a => a.Id).FirstOrDefault();
        departureRide.AirportId = airports.Select(a => a.Id).FirstOrDefault();
    }

    private void ShowSuccessNotification()
    {
        NotificationService.Notify(NotificationSeverity.Info, "Buchung erfolgreich.", "Sie können die Buch noch ändern", 5000);
    }

    private void ShowErrorNotification()
    {
        NotificationService.Notify(NotificationSeverity.Error, "Buchung fehlgeschlagen", "Bitte kontanktieren Sie uns.", 5000);
    }

    private async Task DeleteRide(NewRideModel rideModel)
    {
        HttpResponseMessage res = await HttpClient.DeleteAsync($"http://localhost:5030/api/v1.0/Ride/{rideModel.RideId}");
        if (res.StatusCode == HttpStatusCode.OK)
        {
            NotificationService.Notify(NotificationSeverity.Info, "Delete", "successfull");
            if (rideModel.TravelType == TravelType.Arrival)
            {
                arrivalRide = new() { TravelType = TravelType.Arrival };
            }
            else
            {
                departureRide = new() { TravelType = TravelType.Departure };
            }
            StateHasChanged();
        }
        else
        {
            NotificationService.Notify(NotificationSeverity.Error, "Delete", "not successfull");
        }
    }

}